extends layouts/main-layout.pug
block styles
  link(rel="stylesheet", href="/css/product.css")

block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                            div.card__image
                                img(src="https://cdn.thewirecutter.com/wp-content/media/2023/08/reading-lights-2048px-9789.jpg?auto=webp&quality=75&crop=1.91:1&width=1200")
                            div.card__content
                                h2.product__price $19.99
                                p.product__description A very interesting book about so many even more interesting things!
                            .card__actions
                                button.btn Add to Cart
        else
            h1 No Products